#gestor {
    overflow: hidden;
    display: block;
    background-image: linear-gradient(135deg, #3e699d 0%, #4290a5 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 99;
    align-items: center;
    text-align: center;
    margin: auto;
}
#gestor h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
    font-family: fredoka one, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 3rem;
   
}
#gestor a {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 10rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    transition: all 0.5s;
    transition-delay: 0s;
    cursor: pointer;
    text-decoration: none;
}
#gestor a:hover {
    letter-spacing: .2rem;
    transition: all 0.5s;
    transition-delay: 0s;

}
#gestor .logo {
    color: rgb(255, 255, 255);
    margin-top: 3rem;
}
#gestor-webkit-scrollbar  {
    display: none;  /* Ocultar scroll */
}
#gestor button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: .3rem solid #ffffff;
    border-radius: 10rem;
    height: 3rem;
    width: 13rem;
    display: block;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 8rem;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0s;
    background-color: #ffffff00;
    
}
#gestor button:hover{
    background-color: #ffffff;
    border: .3rem solid #ffffff;
    color: lightslategray;
    transition: all 0.5s;
    transition-delay: 0s;
}
#email {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    border-radius: 40px;
    height: 3rem;
    width: 15rem;
    display: block;
    margin-top: 3rem;
    border-style: none;
    font-size: 1rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#password {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    border-radius: 40px;
    height: 3rem;
    width: 15rem;
    display: block;
    margin-top: 1rem;
    border-style: none;
    font-size: 1rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#editar {
    display: inline-block;
    z-index: 990;
    bottom: 0;
    left: 0;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    position: fixed;
    text-align: center;

}
#editar .editor {
    display: inline-block;
    z-index: 990;
    bottom: 0;
    left: 0;
    right: 0%;
    margin: auto;
    position: fixed;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20rem;
    width: 50%;
    border: none;
}

#editar h4{
    z-index: 100;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10rem;
    padding-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #303030;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0s;
    
}
#editar h4:hover{
    color: #6dab9c;
    transform: translateY(-0.2rem);
    transition: all 0.5s;
    transition-delay: 0s;
}

#borrar{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    position: fixed;
    text-align: center;
    margin-top: 20rem;
    background-color: #ffffff;
    width: 40%;
    height: 15%;
    padding-top: 2rem;
    padding-left: 2rem;
    border-radius: 10rem;
}

#tutorial {
    overflow: hidden;
    display: block;
    background-image: linear-gradient(135deg, #3e699d 0%, #4290a5 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 99;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 70%;
    height: 75%;
    border-radius: 5rem;
}
#tutorial h3 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 4rem;
    font-weight: 700;
    font-family: fredoka one, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 3rem;
}
#tutorial iframe {
    text-align: center;
    margin: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    border-radius: 3rem;
    width: 80%;
    height: 70%;
}
#tuto {
    overflow: hidden;
    display: block;
    background: #fffffff4;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 95;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
}
#tuto h3 i{
    float: right;
    font-size: 3rem;
    margin-right: 2rem;
    margin-top: -3rem;
    cursor: pointer;
}
#loginin {
    overflow: hidden;
    display: block;
    background: #fffffff4;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 95;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
}
#loginin h3 {
    float: right;
    font-size: 3rem;
    margin-right: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}
#loginin h4 {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    color: #ffffff;
}
#loginin h5 {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color:#ffffff;
    border: 0.3rem solid #ffffff;
    background-color: #5fbcb900;
    border-radius: 2rem;
    font-size: 1.8rem;
    height: 2.5rem;
    width: 10rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
    transition-delay: 0s;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}
#loginin h5:hover {
    color:#ffffff;
    border: 0.3rem solid #5fbcb9;
    background-color: #5fbcb9;
    transition: all 0.5s;
    transition-delay: 0s;
}

/*/ FIN DEL EDITOR /*/



body {
    width: 100%;
    margin: 0%;
}
html {
    scroll-behavior: smooth;
    /*/ animacion suave /*/
    transition: all 0.5s;
    transition-delay: 0s;
}
td {
    cursor: pointer;
}
th {
    cursor: pointer;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2rem;     /* Tamaño del scroll en vertical */
    height: 2rem;    /* Tamaño del scroll en horizontal */
}

body::-webkit-scrollbar:vertical {
    width:13px;
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #4d83bc;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}
body::-webkit-scrollbar-thumb:hover {
    background: #59b7a5;
}

#cuerpo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    align-items: center;
    background-color: #bfd6e5b3;
    height: auto;
    position: relative;
    display: block;
}
.banner{
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: 20;
}
.banner a img{
    width: 100%;
    margin: auto;
    text-align: center;
    
}
.cambiar {
    z-index: 50;
    /*/ objeto flotante /*/
    position: relative;
}
.flechaL img {
    margin-left: 1rem;
    margin-top: -23rem;
}
.flechaR img {
    margin-right: 1rem;
    margin-top: -23rem;

}
.cambiar img {
    display: inline-block;
    cursor: pointer;
    width: 7rem;
}

.logo{
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: center;
    border-radius: 40px;
    z-index: 20;
}
.logo img{
    width: 10rem;
    margin: 0%;
    text-align: center;
    
}
/* ======== LOGO ======= */
.logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.logo img{
    margin-top: 2rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}
#pre {
    overflow: hidden;
    display: block;
    background: rgba(255, 255, 255, 0.927);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 99;
    align-items: center;
    text-align: center;
    margin: auto;
}
#activi {
    overflow: hidden;
    display: block;
    background-image: linear-gradient(135deg, #3e699d 0%, #4290a5 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 98;
    color: #fff;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 90%;
    margin: auto;
    border-radius: 4rem;
}
#pre h3 i{
    float: right;
    font-size: 3rem;
    margin-right: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}
#veract {
    text-align: center;
    margin-bottom: 6rem;
    margin-right: 5rem;
    float: left;
    display: inline-block;
    bottom: 0;
    right: 0%;
    position: fixed;

    
}
#pre #veract button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: .25rem solid #ffffff;
    border-radius: 10rem;
    height: 3rem;
    width: 13rem;
    font-size: 1.8rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0s;
    background-color: #ffffff00;
    display: block;
    margin-bottom: 1rem;
    margin-top: 10rem;
    
}
#pre #veract button:hover{
    background-color: #ffffff;
    border: .25rem solid #ffffff;
    color: lightslategray;
    transition: all 0.5s;
    transition-delay: 0s;
}

#pre a i{
    float: left;
    text-align: left;
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: .8rem;
}
#pre img{
    width: 15rem;
    margin:auto;
    bottom: 0;
}
#pre a {
    float: left;
    font-size: 2rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    position:relative;
    float: left;
    text-align: left;
}
#pre p {
    float: left;
    font-size: 2rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    width: 80%;
    text-align: left;
}
#pre h5 {
    letter-spacing: .01rem;
    font-size: 2.5rem;
    font-family: fredoka one, Arial, Helvetica, sans-serif;
    margin-left: 5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    width: 80%;
    text-align: left;
    float: left;
}
#pre a {
    float: left;
    margin-left: 1rem;
    font-size: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s;
    transition-delay: 0s;
    
}
#pre a:hover {
    letter-spacing: .1rem;
    transition: all 0.5s;
    transition-delay: 0s;
}
#pre h2{
    float: center;
    font-size: 3rem;
    margin-top: 4rem;
    color: #fff;
    letter-spacing: .01rem;
}




/* PRE 2  EDITAR CONTENIDO */
#pre2 h3 i{
    float: right;
    font-size: 3rem;
    margin-right: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}

#pre2 {
    overflow: hidden;
    display: block;
    background: rgba(255, 255, 255, 0.927);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 99;
    align-items: center;
    text-align: center;
    margin: auto;
}
#activi2 {
    overflow: hidden;
    display: block;
    background-image: linear-gradient(135deg, #3e889d 0%, #42a3a5 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 98;
    color: #fff;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 90%;
    margin: auto;
    border-radius: 4rem;
}
#pre2 input{
    float: right;
    font-size: 3rem;
    margin-right: 2rem;
    margin-top: 1rem;
    border: none;
    text-decoration: none;
    display: block;
}

#veract2 {
    text-align: center;
    margin-bottom: 3rem;
    margin-right: 5rem;
    float: left;
    display: inline-block;
    bottom: 0;
    right: 0%;
    position: fixed;
    width: auto;
    height: auto;
}

#pre2 #veract2 button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: .25rem solid #ffffff;
    border-radius: 10rem;
    height: 3rem;
    width: 12rem;
    font-size: 1.8rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0s;
    background-color: #ffffff00;
    display: inline-block;;
    margin-bottom: 4rem;
    margin-top: 1rem;
    
}
#pre2 #veract2 button:hover{
    background-color: #ffffff;
    border: .25rem solid #ffffff;
    color: lightslategray;
    transition: all 0.5s;
    transition-delay: 0s;
}

#pre2 input{
    float: left;
    text-align: left;
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: -1.5rem;
    border: none;
    text-decoration: none;
    display: block;
}
#pre2 img{
    width: 15rem;
    margin:auto;
    bottom: 0;
}
#pre2 input {
    float: left;
    font-size: 1.5rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    position:relative;
    float: left;
    text-align: left;
    border: none;
    text-decoration: none;
    width: 35%;
}
#pre2 textarea {
    float: left;
    font-size: 1.3rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 5rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 80%;
    height: 15rem;
    text-align: left;
    border: none;
    text-decoration: none;
}
#pre2 h5 {
    letter-spacing: .01rem;
    font-size: 2.2rem;
    font-family: fredoka one, Arial, Helvetica, sans-serif;
    margin-left: 5rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    width: 80%;
    text-align: left;
    float: left;
}
#pre2 a {
    float: left;
    margin-left: 1rem;
    font-size: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s;
    transition-delay: 0s;
    
}
#pre2 a:hover {
    letter-spacing: .1rem;
    transition: all 0.5s;
    transition-delay: 0s;
}
#pre2 h2{
    float: center;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: -2.5rem;
    color: #fff;
    letter-spacing: .01rem;
}


/* PRE 3 CREAR  CONTENIDO */
#pre3 h3 i{
    float: right;
    font-size: 3rem;
    margin-right: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}

#pre3 {
    overflow: hidden;
    display: block;
    background: rgba(255, 255, 255, 0.927);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 99;
    align-items: center;
    text-align: center;
    margin: auto;
}
#activi3 {
    overflow: hidden;
    display: block;
    background-image: linear-gradient(135deg, #8453a7 0%, #9a4689 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 98;
    color: #fff;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 90%;
    margin: auto;
    border-radius: 4rem;
}
#pre3 input{
    float: right;
    font-size: 3rem;
    margin-right: 2rem;
    margin-top: 1rem;
    border: none;
    text-decoration: none;
    display: block;
}

#veract3 {
    text-align: center;
    margin-bottom: 3rem;
    margin-right: 5rem;
    float: left;
    display: inline-block;
    bottom: 0;
    right: 0%;
    position: fixed;
    width: auto;
    height: auto;
}

#pre3 #veract3 button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: .25rem solid #ffffff;
    border-radius: 10rem;
    height: 3rem;
    width: 12rem;
    font-size: 1.8rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0s;
    background-color: #ffffff00;
    display: inline-block;;
    margin-bottom: 4rem;
    margin-top: 1rem;
    
}
#pre3 #veract3 button:hover{
    background-color: #ffffff;
    border: .25rem solid #ffffff;
    color: lightslategray;
    transition: all 0.5s;
    transition-delay: 0s;
}

#pre3 input{
    float: left;
    text-align: left;
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: -1.5rem;
    border: none;
    text-decoration: none;
    display: block;
}
#pre3 img{
    width: 15rem;
    margin:auto;
    bottom: 0;
}
#pre3 input {
    float: left;
    font-size: 1.5rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    position:relative;
    float: left;
    text-align: left;
    border: none;
    text-decoration: none;
    width: 35%;
}
#pre3 textarea {
    float: left;
    font-size: 1.3rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 5rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 80%;
    height: 15rem;
    text-align: left;
    border: none;
    text-decoration: none;
}
#pre3 h5 {
    letter-spacing: .01rem;
    font-size: 2.2rem;
    font-family: fredoka one, Arial, Helvetica, sans-serif;
    margin-left: 5rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    width: 80%;
    text-align: left;
    float: left;
}
#pre3 a {
    float: left;
    margin-left: 1rem;
    font-size: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s;
    transition-delay: 0s;
    
}
#pre3 a:hover {
    letter-spacing: .1rem;
    transition: all 0.5s;
    transition-delay: 0s;
}
#pre3 h2{
    float: center;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: -2.5rem;
    color: #fff;
    letter-spacing: .01rem;
}

#titleAno h2 {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    padding: 0%;
    color: #5677a4;
    font-size: 8rem;
    letter-spacing: 2rem;
    text-align: center;
    z-index: 50;

}
/* ==== MENU DE NAVEGACIÓN ====== */


.header-area .main-nav li a {
    margin-top: 10px;
    
}
.header-area  {
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
.main-nav {
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
ul .nav {
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    text-decoration: none;
}
ul a{
    text-decoration: none;
}
.logo-min img {
    display: none;

}


.header-area .main-nav .nav {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 98;
    text-align: center;
    margin: auto;
}

.header-area .main-nav .nav li {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    float: left;
    margin: auto;
    
}

.header-area .main-nav .nav li:last-child {
    padding-right: 0px;
}

.header-area .main-nav .nav li a {
    display: block;
    font-family: 'Raleway',sans-serif;
    font-weight: 710;
    font-size: 14px;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 30px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}
.header-area .main-nav .nav h5  {
    display: block;
    font-family: 'Raleway',sans-serif;
    font-weight: 710;
    font-size: 15px;
    color: rgb(65, 65, 65);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    cursor: pointer;
}
.header-area .main-nav .nav h6 {
    display: block;
    font-family: 'Raleway',sans-serif;
    font-weight: 710;
    font-size: 10px;
    color: rgb(65, 65, 65);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    cursor: pointer;
}

.header-area .main-nav .nav h5:hover {
    color: #4b9ea7;
    transform: translateY(-4px);
}

.header-area .main-nav .nav li a:hover {
    color: #4b9ea7;
    transform: translateY(-4px);
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 98;
    display: none;
}


.header-area.header-sticky {
    min-height: 80px;
}

.header-area.header-sticky .logo {
    margin-top: 25px;
}

.header-area.header-sticky .nav li a {
    color: #434343;
    font-size: 1rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
}

.header-area.header-sticky .nav li a.active {
    color: #4b9ea7;
}
ul {
    text-decoration: none;
    text-align: center;
    margin: auto;
    
}
li {
    text-decoration: none;
}

.main-nav ul li {
    display: inline-block;
    text-align: center;
    margin: auto;
    text-decoration: none;
    
}
.main-nav {
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.menu-movil ul li {
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    text-decoration: none;
    z-index: 400;
    
}
.menu-movil {
    background-color: rgb(78, 105, 132);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 80%;
    height: 80%;
    position: fixed;
    z-index: 300;
    border-radius: 2rem;
}
.burger {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: right;
    width: 5rem;
    height: 1rem;
    z-index: 300;
    float: right;
    margin-top: 1rem;
    margin-right: -2.9rem;
    cursor: pointer;
    display: none;
}
.burger .line-menu{
    background-color: rgb(80, 104, 137);
    border-radius: 4rem;
    width: 40%;
    height: 0.3rem;
    padding: 0;
    margin: .2rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
.nav-movil li a {
    color: #ffffff;
    font-size: 2rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
}
.nav-movil h2 {
    color: #ffffff;
    font-size: 2.5rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
}
.nav-movil u {
    line-height: 1rem;
    width: 5rem;
}
.line-menu {
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    width: 40%;
    height: 0.3rem;
    margin-top: -.5rem;
    margin-bottom: 3rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
.nav-movil {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 6rem;
    padding-bottom: auto;
    transition: all 0.5s;
    transition-delay: 0s;
}

.nav-movil li a:hover {
    color: #78c3af;
    transition: all 0.5s;
    transition-delay: 0s;
}
.close {
    font-size: 1.8rem;
    float: right;
    margin-top: -4.6rem;
    margin-right: 1.2rem;
}


.header-area .main-nav {
    width: 65%;
    height: 3.5rem;
    margin-top: 1rem;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 10rem;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
header {
    background-color:#ffffff;
    width: 100%;
    top: 0;
}
    
.header-area {
    height: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color:#ffffff;
    margin: auto;
    width: 100%;
    text-align: center;
    margin: auto;
    text-align: center;
}


/* ========== INICIO ========= */
.info a {
    text-decoration: none;
}
.info a h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-size: 2rem;

}
.inicio h2 {
    font-family: fredoka one, Arial, Helvetica, sans-serif;
    margin-top: -0.3rem;
    color: #009C90;
    font-size: 2rem;
}
.title h1 {
    font-family: fredoka one, Arial, Helvetica, sans-serif;
    margin-top: 0;
    color: #00609c;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}
.title h1 {
  background: #ffffff;
  border-radius: 40px;
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.inicio .orientaciones .info {
    display: inline-block;
}
.inicio .orientaciones .info img {
    margin-left: 2rem;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    border-radius: 1000px;
    width: 20rem;
    height: 20rem;
    margin-top: auto;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: all;


    
}

.inicio .orientaciones .info img:hover {
    border-radius: 100px;
}

.info p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-family: Baloo Bhai, fredoka one, Arial, Helvetica, sans-serif;
    color: #0071AF;
    font-size: 18px;
    padding: 20px;
}

.inicio .orientaciones img {
    width: 25rem;
    margin-right: 20px;
    border-radius: 20px;
}

.convenios .universidades img {
    width: 250px;
    display: inline-block;
    padding: 50px;
    height: auto;
}
.convenios .universidades .Maza img {
    width: 290px;
    display: inline-block;
    margin: auto;
    margin-top: -15px;
}

/*  ======= DESTACADOS ============ */

#destacados {
    display: inline-block;
    margin: 1rem auto 5rem auto;
    text-align: center;
    width: 100%;
}
#destacados .star{
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 3rem;
}

#destacados img{
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 20rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    border-radius: 3rem;
    z-index: 10;
    position: relative;
}

#destacados .flech h3 i{
    font-size: 2.5rem;
    margin: 1rem;
    position: relative;
    margin: auto;
    cursor: pointer;
    color: rgb(67, 67, 67);
    animation-duration: 7s;
    animation-name: flechas;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
    transition: all 0.5s;
    transition-delay: 1s;

}
#destacados .flech h3 i:hover{
    color: rgb(97, 184, 171);
    animation: none;
    transition: all 0.5s;
    transition-delay: 1s;
}
h2{
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color: #0071AF;
    font-size: 3rem;
    margin: 2rem;
}

@keyframes flechas {
    from, 50%, to {
        color: rgb(67, 67, 67); 
      
    }
    25%, 75% {
        color: rgb(83, 139, 183);
      
    }
  }
#destacados .flech {
    position: relative;
    z-index: 11;
    margin-top: -14rem;
    cursor: pointer;

}
#destacados h4 {
    font-family: fredoka one, Arial, Helvetica, sans-serif;
    margin-top: 0;
    color: #00609c;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;

}
#destacados button {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color: #5fbcb9;
    border: 0.3rem solid #5fbcb9;
    background-color: #5fbcb900;
    border-radius: 2rem;
    font-size: 1.8rem;
    height: 3rem;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0s;

}
#destacados button:hover{
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color:#ffffff;
    border: 0.3rem solid #5fbcb9;
    background-color: #5fbcb9;
    border-radius: 2rem;
    font-size: 1.8rem;
    height: 3rem;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
    transition-delay: 0s;
    
}

/*/ ====  SUBIR ARCHIVOS  ==== /*/
#subir {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    float: inline-start;
    background-color: rgb(91, 128, 167);
    border-radius: 40px;
}

#subir .cont-subir {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    display: block;
    
}


#destacados #subir h5 {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color:#ffffff;
    border: 0.3rem solid #ffffff;
    background-color: #5fbcb900;
    border-radius: 2rem;
    font-size: 1.8rem;
    height: 3rem;
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
    transition-delay: 0s;
    padding-top: 0.5rem;
    cursor: pointer;
}
#destacados #subir h5:hover {
    color:#ffffff;
    border: 0.3rem solid #5fbcb9;
    background-color: #5fbcb9;
    transition: all 0.5s;
    transition-delay: 0s;
}
#destacados #subir button {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color:#ffffff;
    border: 0.3rem solid #ffffff;
    background-color: #5fbcb900;
    border-radius: 2rem;
    font-size: 1.8rem;
    height: 3rem;
    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
    transition-delay: 0s;
    cursor: pointer;
}
#destacados #subir button:hover {
    color:#ffffff;
    border: 0.3rem solid #5fbcb9;
    background-color: #5fbcb9;
    transition: all 0.5s;
    transition-delay: 0s;
}
#destacados h3 i {
    float: right;
    font-size: 3rem;
    margin-right: 2rem;
    margin-top: -1.5rem;
    margin-bottom: 3rem;
    cursor: pointer;
    top:0;
}
#subir input {
    display: block;
    text-align: center;
    margin: auto;
    height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: #ffffff;

}
#subir h3 {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color: #ffffff;
    border-radius: 2rem;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
#crearStar, #reemStar,#borrarStar, #editarStar {
    overflow: hidden;
    display: block;
    background-image: linear-gradient(135deg, #3e699d 0%, #4290a5 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 98;
    color: #fff;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 70%;
    margin: auto;
    border-radius: 4rem;
}


progress {
    display: block;
    text-align: center;
    margin: auto;
    width: 25rem;
    height: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color:#88dae6 ;
    color: #88dae6;
    border-radius: 40px;
    
}

progress::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 40px;
}
progress::-webkit-progress-value {
    background-color: #88dae6;
    border-radius: 40px;
}

#subir .selectArchivo  {
    border:none;
    border-style: none;
    display: block;
    text-align: center;
    margin-top: 2rem;
    width: 8rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    background-color:#ffffff ;
    border: 4px solid #3e9d8f;
    color: #3e9d8f;
    border-radius: 40px;
    display: inline-block;
}

#video {
    margin-top: 4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#video .marco {
    border-radius: 3rem;
    border: 0.5rem solid #3e699d;
    width: 70%;
    height: 35em;
    text-align: center;
    margin: auto;
}
#video iframe{
    text-align: center;
    margin: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    border-radius: 3rem;
    width: 98%;
    height: 95%;
}

#video input{
    display: block;
    text-align: center;
    margin: auto;
    height: 2rem;
    width: 20rem;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    color: #486493;
    border: 0.3rem solid #486493;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    border-radius: 2rem;

}
#video h5 {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color:#486493;
    border: 0.3rem solid #486493;
    background-color: #5fbcb900;
    border-radius: 2rem;
    font-size: 1.8rem;
    height: 3rem;
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
    transition-delay: 0s;
    padding-top: 0.5rem;
    cursor: pointer;
}
#video h5:hover {
    color:#ffffff;
    border: 0.3rem solid #486493;
    background-color: #486493;
    transition: all 0.5s;
    transition-delay: 0s;
}

#noticias {
    display: inline-block;
    text-align: center;
    margin-top: 3rem;
    width: 100%;
    height: 40rem auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: rgba(175, 219, 222, 0.886);
}
#noticias .noti {
    border-radius: 10em;
    width: 80%;
    height: 60% auto; 
    /*/border: 1rem solid #ffffff;/*/
    background-color: #ffffffd2;
}
#noticias h3 {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color: #5fbcb9;
    font-size: 1.7rem;
    padding-top: 2rem;
    width: 60%;
}
#noticias p {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color: #5fbcb9;
    font-size: 1.4rem;
    text-align: justify;
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 80%;
    height: 90%;
    color: #686868;
}

#noticias input{
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color: #5fbcb9;
    font-size: 1.5rem;
    width: 60%;
    margin-top: 2rem;
    border: 0.2rem solid #5fbcb9;
    background-color: #4290a500;
    border-radius: 2rem;
    padding: 0.4rem;
}
#noticias textarea {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color: #5fbcb9;
    font-size: 1.3rem;
    text-align: justify;
    padding: 0.1rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
    width: 80%;
    height: 15rem;
    color: #686868;
    border: 0.2rem solid #5fbcb9;
    background-color: #4290a500;
    border-radius: 2rem;
    padding: 0.4rem;
}
#noticias button{
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color: #5fbcb9;
    border: 0.3rem solid #5fbcb9;
    background-color: #5fbcb900;
    border-radius: 2rem;
    font-size: 1.8rem;
    height: 3rem;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0s;
    
}
#noticias button:hover{
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    color: #ffffff;
    border: 0.3rem solid #5fbcb9;
    background-color: #5fbcb9;
    border-radius: 2rem;
    font-size: 1.8rem;
    height: 3rem;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
    transition-delay: 0s;
    
}





footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
footer img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 2rem;
    display: block;
    margin-bottom: .2rem;
}
footer a {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-family: fredoka one, Arial, Helvetica, sans-serif;
  color: #0071AF;
  transition: all 0.5s;
  transition-delay: 0s;
}
footer a:hover {
    letter-spacing: .1rem;
    color: #764389;
    transition: all 0.5s;
    transition-delay: 0s;
    
}

.fecha h2 {
    display: inline-block;
    padding: .5rem;
    font-size: 2rem;
    margin:auto;
    width: 9rem;
}
.fecha  {
    display: inline-block;
    padding: .2rem;
    font-size: 2rem;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.dia:hover {
    color: #ffffff;
    background: #1c40872b;
    
    /*/ animacion suave /*/
    transition: all 0.5s;
    transition-delay: 0s;
}
/*instrucciones generales*/
* { margin: auto; }
/*cabecera de la página*/
h1 { text-align: center; padding: 0.5em; }

/*div principal del calendario*/
#calendar { 
    max-width: 95%; 
}
/*tabla del calendario*/
#fecha { 
    max-width: 95%; 
   
    border-spacing: 4px; 

}
#fecha th,#fecha td { 
    font-family: fredoka one, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    width: 15rem; 
    height: 11rem; 
    border-radius: 1rem;
    margin:auto;
    text-align: center;

}

#fecha th { 
    color: #ffffff; 
    font-size: 2em;
    background-color: #1d87ae; 
    z-index: 20;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    text-align: center;
}
.circle { 
    color: #ffffff00; 
    border-radius: 20rem;
    background-color: #1d87ae00; 
    border: .4rem solid #1d87ae;
    width: 3.3rem; 
    height: 3.3rem; 
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    float: none;
    margin-top:-3.35rem;
    text-align: center;
    
}
cite {
    text-align: center;
    z-index: 2;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.cube { 
    color: #ffffff00; 
    border-radius: .5rem;
    background-color: #82c8c9; 
    width: 2.3rem; 
    height: 2.3rem; 
    text-align: center;
    display: inline-block;
    margin-bottom: -0.4rem;
    margin-left:5rem;
}
.circle2 { 
    color: #ffffff00; 
    border-radius: 20rem;
    background-color: #1d87ae00; 
    border: .3rem solid #1d87ae;
    width: 2rem; 
    height: 2rem; 
    text-align: center;
    display: inline-block;
    margin-bottom: -0.5rem;
    margin-left:5rem;
}
.informacion h5 {
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left:0.3rem;
    text-align: center;
    display: inline-block;
    color: #434343;
}
td {
    margin:auto;
    text-align: center;
    cursor: pointer;
    z-index: 20;
    position: relative;
    top: 0;
    right: 0;
    left: 0%;
    bottom: 0;
}
#fecha td { 
    color: #1d87ae; 
    background-color: #efefef; 
    cursor: pointer;
}







@media (max-width: 992px) {
    body {
        width: 100%;
    }
    html {
        width: 100%;
    }
    .burger {
        display: block;
        padding: 1rem;
    }
    .dia h2 {
        width: 100%;
    }
    #cuerpo {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #cuerpo img{
        width: 15rem;
        height: 15rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .inicio {
        width: 100%;
        height: auto;
    }
    .inicio h1 {
        font-size: 25px;
        width: auto;
        height: auto;
    }
    .inicio h2 {
        font-size: 15px;
    }
    .title h1 {
       font-size: 1.5rem;
       width: 100%;
  
    }
    .inicio .orientaciones img {
        width: 18rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .info p {
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        font-family: Baloo Bhai, Arial, Helvetica, sans-serif;
        color: #0071AF;
        font-size: 16px;
        padding: 20px;
    }

    .orientaciones {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .inicio h2 {
        width: 95%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .inicio {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .logo {
        width: 95%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .info {
        width: 95%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .logo img{
        margin-top: 1rem;
        width: 130px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        align-items: center;
    }
    th {
        width: 3em; 
        height: 3em; 
    }
    td {
        width: 3em; 
        height: 3em; 
    }
    table {
        width: 10rem; 
    }
    #fecha th,#fecha td { 
        font-family: fredoka one, Arial, Helvetica, sans-serif;
        font-size: 1.6em;
        font-weight: 600;
        width: 4em; 
        height: 5em; 
        border-radius: .3em;
        margin:auto;
        text-align: center;
    
    }
    #fecha .circle { 
        color: #ffffff00; 
        border-radius: 20rem;
        background-color: #1d87ae00; 
        border: .2rem solid #1d87ae;
        width: 2.4rem; 
        height: 2.4rem; 
        position: relative;
        top: 0;
        right: 0;
        left: 0%;
        bottom: 0;
        z-index: 2;
        float: none;
        margin-top:-2.4rem;
        text-align: center;
        
    }

    footer {
        width: 90%;
    }
    footer a {
        font-size: 15px;
        width: 90%;
    }
    footer a:hover {
        font-size: 15px;
        width: 90%;
        color: #216c87;
    }

    .flechaL img {
        margin-left: .2rem;
        margin-top: -6rem;
    }
    .flechaR img {
        margin-right: .2rem;
        margin-top: -6rem;
    
    }
    .cambiar img {
        display: inline-block;
        cursor: pointer;
        width: 2rem;
    }
    .main-nav {
        display: none;
    }
}
@media (max-width: 750px) {
    #fecha th,#fecha td { 
        font-family: fredoka one, Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: 600;
        width: 2em; 
        height: 5em; 
        border-radius: .3em;
        margin:auto;
        text-align: center;
    
    }
   
    th {
        width: 3em; 
        height: 3em; 
    }
    td {
        width: 3em; 
        height: 3em; 
    }
    #fecha .circle { 
        color: #ffffff00; 
        border-radius: 20rem;
        background-color: #1d87ae00; 
        border: .15rem solid #1d87ae;
        width: 1.8rem; 
        height: 1.8rem; 
        position: relative;
        top: 0;
        right: 0;
        left: 0%;
        bottom: 0;
        z-index: 2;
        float: none;
        margin-top:-1.8rem;
        text-align: center;
        
    }
}
@media (max-width: 550px) {
    .orientaciones {
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .burger .line-menu {
        width: 2.5rem;
        
    }
    .burger {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding: auto;
        text-align: center;
        float: left;
        left: 0;
        position: relative;
    }
    .menu-movil {
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .informacion {
        display: none;
    }
    .informacion .infor1 {
        margin: auto;
        padding: 0.5rem;
        text-align: center;
        font-size: 1rem;
        display: inline-block;
    }
    h2 {
        font-size: 2.1rem;
    }
    #noti {
        border-radius: none;
    }
    .noti {
        border-radius: none;
    }
    ul .nav-movil{
        height: 10rem;
        margin: auto;
        padding: auto;
        width: 90%;
        text-align: center;
    }
    #video .marco {
        height: 15rem;
        margin: auto;
        padding: auto;
        width: 95%;
    }
    #video {
        width: 95%;
    }
    #video iframe {
        height: 14rem;
        width: 98%;
        margin-top: 0.4rem;
        padding: auto;
    }
    #destacados img {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    #fl h3 {
        font-size: .6rem;
        margin: 1rem;
    }
    #fr h3 {
        font-size: .6rem;
        margin: 1rem;
        
    }
    .infor1 h5 {
        font-size: 1rem;
    }
    .inicio #titleAno {
        font-size: 4rem;
        padding: auto;
        margin: auto;
        text-align: center;
    }

    .inicio {
        width: 100%;
        height: auto;
    }
    th {
        width: 3em; 
        height: 3em; 
    }
    td {
        width: 3em; 
        height: 3em; 
    }
    table {
        width: 200px; 
    }
    tbody {
        width: 100%; 
    }
    #fecha {
        width: 100%; 
    }
    #fecha th,#fecha td { 
        font-family: fredoka one, Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: 600;
        width: 2em; 
        height: 5em; 
        border-radius: .3em;
        margin:auto;
        text-align: center;
    
    }
    #fecha .circle { 
        color: #ffffff00; 
        border-radius: 20rem;
        background-color: #1d87ae00; 
        border: .12rem solid #1d87ae;
        width: .8rem; 
        height: .8rem; 
        position: relative;
        top: 0;
        right: 0;
        left: 0%;
        bottom: 0;
        z-index: 2;
        float: none;
        margin-top:-1rem;
        text-align: center;
        
    }
    #fecha th { 
        color: #ffffff; 
        font-size: .7em;
        background-color: #1d87ae; 
        z-index: 20;
        position: relative;
        top: 0;
        right: 0;
        left: 0%;
        bottom: 0;
        margin:auto;
        text-align: center;
    }
    #movil {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: 1rem;
        padding-bottom: auto;
        transition: all 0.5s;
        transition-delay: 0s;
        width: 100%;
        height: 100%;
        border-radius: 0%;
        margin: auto;
    }
    ul .nav-movil {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        padding-top: 1rem;
        padding-bottom: auto;
        transition: all 0.5s;
        transition-delay: 0s;
        width: 100%;
        height: 100%;
    }
    .nav-movil li a {
        font-size: 1.5rem;
    }
    .nav-movil h2 {
        margin-top: 6rem;
    }
    .line-menu {
        margin-top: 1rem;
    }
    #activi h2{
        font-size: 2rem;
    }
    #activi h3 i{
        font-size: 2rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        float: center;
    }
    #activi {
        width: 100%;
        height: 90%;
        margin-top: auto;
        text-align: center;
        border-radius: none;
        
    }
    #activi  h5{
        font-size: 2rem;
        margin-top: -2rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 95%;
    }
    #activi p{
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        width: 95%;
    }
    #activi a i{
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    #activi a {
        font-size: 1.5rem;
        margin-left: 0.5rem;
        margin-right: auto;
        text-align: left;
        width: 95%;
    }
    #pre #veract {
        margin: auto;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    #pre #veract button {
        border: .15rem solid #ffffff;
        border-radius: 10rem;
        height: 2rem;
        width: 5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    #actividades {
        width: 100%;
        margin-top: auto;
        text-align: center;
    }
    body::-webkit-scrollbar {
        display: none;  /* Ocultar scroll */
    }

}